/* VAR */
:root{

    /* colors */
    --main-bg: #141922;
    --main-gray: #74767B;
    --player-bg: #282828;
    --green: #ADFF2F;
    /* /colors */
}
/* /VAR */


/* RESET */
*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* /RESET */

/* COMMON */
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* margin */
.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}
/* /margin */
/* /COMMON */
