/* VAR */
:root{

    /* colors */
    --main-bg: #141922;
    --main-gray: #74767B;
    --player-bg: #282828;
    --green: #ADFF2F;
    /* /colors */
}
/* /VAR */


/* RESET */
*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* /RESET */

/* COMMON */
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
/* /COMMON */
